.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
  }
  
  .invertir {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-area: 1 / 1 / 4 / 7;
    border-style: solid;;
  }
  
  .simular { grid-area: 1 / 1 / 3 / 3; 
  border-style: solid;}
  
  .opciones { grid-area: 1 / 3 / 3 / 6; }
  
  .inversiones-en\ proceso {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-area: 4 / 1 / 6 / 4;
  }
  
  .titulo { grid-area: 1 / 1 / 2 / 4; 
    border-style: solid;}
  
  .cards { grid-area: 2 / 1 / 5 / 4; 
    border-style: solid;}
  
  .fondos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-area: 4 / 4 / 6 / 7;
    border-style: solid;
  }
  
  .titulo2 { grid-area: 1 / 1 / 2 / 4; 
    border-style: solid;}
  
  .cards2 { grid-area: 2 / 1 / 5 / 4; 
    border-style: solid;}

  